{% load static %}
<!doctype html>
<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div>
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
</div>
<ul>목표:{{ to_do.subject }}</ul>
<ul>상세내용:{{ to_do.content }}</ul>

<div>
    {% if request.user == to_do.author %}
        <a href="{% url 'Todolist:modify' to_do.id  %}"
           class="btn btn-sm btn-outline-secondary">수정</a>
         <a href="{% url 'Todolist:delete' to_do.id %}"
            class="btn btn-sm btn-outline-secondary">삭제</a>
    {% endif %}
</div>
</body>
</html>